# Python cache (во всех папках)
**/__pycache__/
**/*.pyc
/bot/bot.session
/bot/bot.session-journal

# IDE
.idea/
.vscode/

# Environment
.env
venv/

# Logs
*.log

# Database volume
pgdata/

# Temporary files
*.swp
*.swo
*.tmp
.DS_Store

# Testing files
bot/sendm.py
test.py
stats.db

# Config
docker-compose.yml
docker-compose.dev.yml

# Database
/pgdata/
